{% extends 'base.html.twig' %}
{% block title %}Index
{% endblock %}
{% block body %}
 <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
 
<script type="text/javascript" src="DataTables/datatables.min.js"></script>
	<style>
		html,
		body {
			min-height: 100%;
		}
		body,
		div,
		form,
		input,
		select,
		p {
			padding: 0;
			margin: 0;
			outline: none;
			font-family: Roboto, Arial, sans-serif;
			font-size: 16px;
			color: #eee;
		}
		body {
			background: url("https://www.hellomagazine.com/imagenes/homes/2019010866329/12-month-cleaning-calendar/0-312-637/cleaning-products-t.jpg") no-repeat center;
			background-size: cover;
		}
		h1,
		h2 {
			text-transform: uppercase;
			font-weight: 400;
		}
		h2 {
			margin: 0 0 0 8px;
		}
		.main-block {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 25px;
			background: rgba(0, 0, 0, 0.5);
		}
		.left-part,
		form {
			padding: 25px;
		}
		.left-part {
			text-align: center;
		}
		.fa-graduation-cap {
			font-size: 72px;
		}
		form {
			background: rgba(0, 0, 0, 0.4);
		}
		.title {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}
		.info {
			display: flex;
			flex-direction: column;
		}
		input,
		select {
			padding: 5px;
			margin-bottom: 30px;
			background: transparent;
			border: none;
			border-bottom: 1px solid #eee;
		}
		input::placeholder {
			color: #eee;
		}
		option:focus {
			border: none;
		}
		option {
			background: black;
			border: none;
		}
		.checkbox input {
			margin: 0 10px 0 0;
			vertical-align: middle;
		}
		.checkbox a {
			color: #26A9E0;
		}
		.checkbox a:hover {
			color: #85D6DE;
		}
		.btn-item,
		button {
			padding: 10px 5px;
			margin-top: 20px;
			border-radius: 5px;
			border: none;
			background: #26A9E0;
			text-decoration: none;
			font-size: 15px;
			font-weight: 400;
			color: #fff;
		}
		.btn-item {
			display: inline-block;
			margin: 20px 5px 0;
		}
		button {
			width: 100%;
		}
		button:hover,
		.btn-item:hover {
			background: #85D6DE;
		}
		@media(min-width: 568px) {
			html,
			body {
				height: 100%;
			}
			.main-block {
				flex-direction: row;
				height: calc(100% - 50px);
			}
			.left-part,
			form {
				flex: 1;
				height: auto;
			}
		}
	</style>
</head>
<body>
	<div class="main-block">
		<div class="left-part">
			<h2>Projet Propar</h2>
			<div class="btn-group"></div>
		</div>
		{{form_start(form)}}
			<div class="title">
				<i class="fas fa-pencil-alt"></i>
				<h3>
					{% if editMode %}
						Modification d'un utilisateur
					{% else %}
						Nouvel utilisateur
					{% endif  %}
				</h3>
			</div>
			<div class="info">

				
				{{ form_help(form.nom) }}
				{{form_widget(form.nom, {'attr': {'placeholder': 'Nom','style' : 'width: 100%'}, "label":" "})}}

				{{ form_help(form.prenom) }}
				{{form_widget(form.prenom, {'attr': {'placeholder': 'Prénom','style' : 'width: 100%'}, "label":" "})}}
				{{ form_help(form.username) }}
				{{form_widget(form.username, {'attr': {'placeholder': 'Email','style' : 'width: 100%'}, "label":" "})}}


				{{form_row(form.password, {'attr': {'placeholder': 'Mot de passe','style' : 'width: 100%'}, "label":" "})}}

				{{form_row(form.confirm_password, {'attr': {'placeholder': 'Confirmez mot de passe','style' : 'width: 100%'}, "label":" "})}}

				{{form_row(form.roles, {"label": " "})}}

			</br>

			<button type="submit" class="btn btn-outline-success">
				{% if editMode %}
					Enregister les modifications
				{% else %}
					Ajouter l'utilisateur
				{% endif  %}
			</button>
			
		</div>
	{{form_end(form)}}
</body></div></body></html>{% endblock %}
