{% extends 'base.html.twig' %}

{% block title %}Index utilisateurs
{% endblock %}

{% block body %}


	<table class="table">
		<thead class="table-primary">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Adresse mail</th>
				<th scope="col">Role</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>

				{% for user in users %}

					<th scope="row">{{ user.id }}</th>
					<td>{{ user.nom }}</td>
					<td>{{ user.prenom }}</td>
					<td>{{ user.username }}</td>
					<td>
						{% if 'ROLE_SUPER_ADMIN' in user.getroles(TRUE)  %}
							<p>Expert</p>
						{% endif %}

						{% if 'ROLE_ADMIN' in user.getroles(TRUE)  %}
							<p>Senior</p>
						{% endif %}

						{% if 'ROLE_USER' in user.getroles(TRUE)  %}
							<p>Apprenti</p>
						{% endif %}
					</td>
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
								Action
							</button>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="#">
										<form method="post" action="{{ path('app_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur  ?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
											<button class="btn">Supprimer</button>
										</form>
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										<form method="post" action="{{ path("app_edit_user", {"id" : user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment modifier cet utilisateur  ?');">

											<button class="btn">Modifier</button>
										</form>
									</a>

								</li>
							</ul>
						</div>
					</td>
				</tr>

			{% endfor %}


		</tbody>
	</table>


{% endblock %}
